.sidebar {
  max-width: 275px;
  max-height: 845px;
  word-break: break-word;
}

.fw-bold {
  color: #3c7c81;
}

.worked-at-header {
  background-color: #3c7c81;
}

.company-count {
  color: #ffc900 !important;
}

.company-logo {
  object-fit: contain;
}
